@charset "UTF-8";

html, body {
    overflow: hidden;
    margin: 0;
    background: #000000;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    color: #333333;
}

#wrapper {
    position: absolute;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: #eeeeee;
    margin: 12px;
    left: 4px;
}

h2 {
    color: #999999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    left: 3px;
}

h1, h2 {
    position: relative;
}

p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 1920px;
    height: 917px;
    pointer-events: none;
}

canvas#christmasCanvas {
    top: 0;
    left: 0;
    z-index: 5000;
    position: fixed;
    pointer-events: none
}

a {
    color: #999999;
    text-decoration: none;
    transition: color .2s ease;
}

a:hover {
    color: #ff3333;
}
